<h2>{title}</h2>
<table class="doclisttable">
    <thead>
        <tr>
            <td>Document title</td>
            <td>Created on</td>
            <td>Last modified</td>
        </tr>
    </thead>
    <tbody>
        {docitems}
    </tbody>
</table>