body {	
    background-color:white;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}
header h1 {
    background: none;
}
header {
    width: 100%;
    color: white;
    background-color:#a1a0c0;
    float: left;
    text-align: center;
}
.doclisttable {
    width: 100%;
    text-align: left;
}
.doclisttable thead {
    font-weight: bold;
}
.doclisttable tbody {
    color: #3f3f3f;
}
.doclisttable td {
    padding:0.2em;
}
.inlinelist {
    display: inline-block;
    padding: 0em; 
    margin: 0em;
}
.inlinelist li {
    display: inline-block;  
    margin-right: 0.9em;
}
div#modification {
    width: 100%;
    color:darkgray;
    font-size: 0.8em;
}
div#navbit {
    width: 100%;
    font-size: 0.8em;
    background: none;
}
footer {
    width: 100%;
    text-align: center;
    background-color: #a1a0c0;
    color: white;
    float:left;
}
nav#sidebar {
    float :right;
    background-color: #f0f0f0;
    color: black;
    width: 30%;
    padding: 1%;
}
nav#sidebar h2 {
    background: none;
}
section#content {
    width: 63%;
    margin-right:1%;
    margin-left: 1%;
    float: left;
    line-height: 150%;
    text-align: justify;
}
/* for small screens */
@media only screen and (max-width: 600px) {
    section#content {
        width: 99%;
        float: none;
        margin-left: 0.5%;
        margin-right: 0.5%;
        text-align: left;
        padding: 0;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    header {
        float: none;
    }
    footer {
        float: none;
    }
    nav#sidebar {
        float: none;
        width: 99%;
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
}